<h1>Contact</h1>
<p>Email me at <a href = "mailto:james.liu251@googlemail.com">james.liu251@googlemail.com</a> <br> 
  Phone me on +447886069209</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.600779055645!2d-0.10332960000001444!3d51.5205398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b51867fa89d%3A0x4d278f06c9d9d39f!2sCity+Pavilion%2C+33+Britton+St%2C+London+EC1M+5UG!5e0!3m2!1sen!2suk!4v1414231836175" width="600" height="450" frameborder="0" style="border:0"></iframe>